.kaufman{
  display: flex;
  background-color:  #1f1f1f;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-top: 90px;
  padding-bottom: 180px;
  margin: 0 auto;
  align-items: center;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  overflow: hidden;
}

.kaufman__triangle{
  z-index: 10;
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  transform: translate(-50%, -50%);
}